<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before Starting</td>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a></td> </tr>
      <tr> <td>Lesson 1</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/01-introduction.html">Introduction to OpenRefine</a></td> </tr>
      <tr> <td>Lesson 2</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/02-importing-data.html">Importing data into OpenRefine</a></td> </tr>
      <tr> <td>Lesson 3</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/03-working-with-data.html">Layout of OpenRefine: Rows VS Records</a></td> </tr>
      <tr> <td>Lesson 4</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/04-faceting-and-filtering.html">Faceting and filtering</a></td> </tr>
      <tr> <td>Lesson 5</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/05-clustering.html">Clustering</a></td> </tr>
      <tr> <td>Lesson 6</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/06-working-with-columns.html">Working with columns and sorting</a></td> </tr>
      <tr> <td>Lesson 7</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/07-introduction-to-transformations.html">Introduction to transformations</a></td> </tr>
      <tr> <td>Lesson 8</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/08-writing-transformations.html">Writing transformations</a></td> </tr>
      <tr> <td>Lesson 9</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/09-undo-and-redo.html">Transformations: Undo & Redo</a></td> </tr>
      <tr> <td>Lesson 10</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/10-data-transformation.html">Transforming strings, numbers, dates, & booleans</a></td> </tr>
      <tr> <td>Lesson 11</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/11-using-arrays-transformations.html">Transformations: Handling arrays</a></td> </tr>
      <tr> <td>Lesson 12</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/12-export-transformation.html">Exporting data</a></td> </tr>
      <tr> <td>12:30 PM</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Lesson 1</td>  <td><a href="https://librarycarpentry.org/lc-data-intro/01-regular-expressions.html">Regular Expressions</a></td> </tr>
      <tr> <td>Lesson 2</td>  <td><a href="https://librarycarpentry.org/lc-data-intro/02-match-extract-strings.html">Matching and Extracting Strings</a></td> </tr>
      <tr> <td>Lesson 3</td>  <td><a href="https://librarycarpentry.org/lc-data-intro/03-quiz.html">Multiple Choice Quiz</a></td> </tr>
      <tr> <td>Lesson 4</td>  <td><a href="https://librarycarpentry.org/lc-data-intro/04-exercises.html">Exercises</a></td> </tr>
      <tr> <td>12:30 PM</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:30 PM</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop survey</a></td> </tr>
    </table>
  </div>
</div>
